<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porjeto books</title>
</head>
<body>
    <h1>projeto books</h1>

    <nav>
        <li><a href="/"></a>home</li>
        <li><a href="/registrar">cadastrar</a></li>
    </nav>

    {{{body}}}
</body>
</html>